
// .container{
//     width: 50%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }
.oe_signup_form, .oe_reset_password_form {
    max-width: 40%;
    position: relative;
    margin: 50px auto;
    box-shadow: 1px 1px 10px 0 hsla(0,0%,86%,.5);
    padding: 50px 60px;
}